[tool.poetry]
name = "cfn_lint_serverless"
version = "0.2.1"
description = "Serverless rules for cfn-lint"
authors = ["Amazon Web Services"]
readme = "README.md"
license = "MIT-0"

[tool.poetry.dependencies]
python = "^3.6"
cfn-lint = ">=0.49.2,<0.53.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.2"
isort = "^5.7.0"
black = "^20.8b1"
flake8 = "^3.8.4"
coverage = "^5.4"
flake8-variables-names = "^0.0.4"
pytest-cov = "^2.12.1"
flake8-eradicate = "^1.1.0"
flake8-bugbear = "^21.4.3"
bandit = "^1.7.0"
radon = "^4.3.2"
xenon = "^0.7.1"

[tool.black]
line-length = 120
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | example
)
'''

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
