site_name: Serverless Rules
site_description: Serverless Rules for checking infrastructure-as-code templates against serverless recommended practices.
site_author: Amazon Web Services
repo_url: https://github.com/awslabs/serverless-rules
repo_name: awslabs/serverless-rules
edit_uri: edit/develop/docs

nav:
  - Homepage: index.md
  - Rules: rules/index.md
  - Usage guides:
    - "With cfn-lint": cfn-lint.md
    - "With tflint": tflint.md
  - Contributing:
    - "Creating rules": contributing/create_rule.md

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: images/aws-logo-light.svg
  favicon: images/aws-logo-light.svg
  features:
    - navigation.sections
    - navigation.instant
    - navigation.instant.progress
    - navigation.path
    - navigation.top
    - navigation.indexes
    - toc.follow
    - header.autohide
    - search.suggest
    - search.highlight
    - content.code.copy

plugins:
  - search

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.highlight:
      linenums: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true

extra_css:
  - stylesheets/extra.css

copyright: Copyright &copy; 2026 Amazon Web Services