package rules

import (
    hcl "github.com/hashicorp/hcl/v2"

	"github.com/terraform-linters/tflint-plugin-sdk/tflint"
)

// TODO: Write the rule's description here
// {{ .Env.RULE_NAME_CC }} checks ...
type {{ .Env.RULE_NAME_CC }}Rule struct {
    resourceType  string
	blockName     string
    attributeName string
}

// New{{ .Env.RULE_NAME_CC }}Rule returns new rule with default attributes
func New{{ .Env.RULE_NAME_CC }}Rule() *{{ .Env.RULE_NAME_CC }}Rule {
	return &{{ .Env.RULE_NAME_CC }}Rule{
		// TODO: Write resource type and attribute name here
		resourceType:  "...",
		blockName:     "...",
		attributeName: "...",
	}
}

// Name returns the rule name
func (r *{{ .Env.RULE_NAME_CC }}Rule) Name() string {
	return "{{ .Env.RULE_NAME }}"
}

// Enabled returns whether the rule is enabled by default
func (r *{{ .Env.RULE_NAME_CC }}Rule) Enabled() bool {
	// TODO: Determine whether the rule is enabled by default
	return true
}

// Severity returns the rule severity
func (r *{{ .Env.RULE_NAME_CC }}Rule) tflint.Severity {
    return tflint.ERROR
}

// Link returns the rule reference link
func (r *{{ .Env.RULE_NAME_CC }}Rule) Link() string {
	return ""
}

// TODO: Write the details of the inspection
// Check checks ...
func (r *{{ .Env.RULE_NAME_CC }}Rule) Check(runner tflint.Runner) error {
	// TODO: Write the implementation here. See this documentation for what tflint.Runner can do.
	//       https://pkg.go.dev/github.com/terraform-linters/tflint-plugin-sdk/tflint#Runner

	return runner.WalkResources(r.resourceType, func(resource *configs.Resource) error {
		// Block

		body, _, diags := resource.Config.PartialContent(&hcl.BodySchema{
			Blocks: []hcl.BlockHeaderSchema{
				{
					Type: r.blockName,
				},
			},
		})

		if diags.HasErrors() {
			return diags
		}

		blocks := body.Blocks.OfType(r.blockName)
		if len(blocks) != 1 {
			runner.EmitIssue(
				r,
				fmt.Sprintf("\"%s\" is not present.", r.blockName),
				body.MissingItemRange,
			)

			return nil
		}

		// Attribute
		body, _, diags = blocks[0].Body.PartialContent(&hcl.BodySchema{
			Attributes: []hcl.AttributeSchema{
				{
					Name: r.attributeName,
				},
			},
		})

		if diags.HasErrors() {
			return diags
		}

		var attrValue string
		attribute, ok := body.Attributes[r.attributeName]
		if !ok {
			runner.EmitIssue(
				r,
				fmt.Sprintf("\"%s\" is not present.", r.attributeName),
				body.MissingItemRange,
			)
		} else {
			err := runner.EvaluateExpr(attribute.Expr, &attrValue, nil)
			if err != nil {
				return err
			}

			if attrValue != "true" {
				runner.EmitIssueOnExpr(
					r,
					fmt.Sprintf("\"%s\" should be set to true.", r.attributeName),
					attribute.Expr,
				)
			}
		}

		return nil
	})
}