.badge {
  display: inline-block;
  font-size: 0.65rem;
  padding: 0px 6px;
  margin: 0px;

  color: #ffffff;

  border-radius: 3px;

  background-color: #78909C;
}

.badge-red {
  background-color: #e53935;
}
.badge-yellow {
  background-color: #FFB300;
}
.badge-green {
  background-color: #43A047;
}
.badge-blue {
  background-color: #039BE5;
}