name: publish

on:
  release:
    types:
      - published

# Add concurrency to prevent multiple simultaneous runs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set release notes tag
        env:
          TAG: ${{ github.event.release.tag_name }}
        run: |
          echo "RELEASE_TAG_VERSION=${TAG:1}" >> $GITHUB_ENV
      - name: Install uv
        uses: astral-sh/setup-uv@d0d8abe699bfb85fec6de9f7adb5ae17292296ff # v6
      - name: Check version tags
        run: make release-check
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"
      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@6e87008f9dd1fe3e34e66aca6c97b4a69f72a7f4 # v4
        with:
          tflint_version: v0.61.0
      - name: Install dependencies
        run: make dev
      - name: Run all checks
        run: make pr

  publish_pypi:
    needs: run_tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set release notes tag
        env:
          TAG: ${{ github.event.release.tag_name }}
        run: |
          echo "RELEASE_TAG_VERSION=${TAG:1}" >> $GITHUB_ENV
      - name: Install uv
        uses: astral-sh/setup-uv@d0d8abe699bfb85fec6de9f7adb5ae17292296ff # v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: make -C cfn-lint-serverless dev
      - name: Upload to PyPi
        run: |
          cd cfn-lint-serverless/
          uv build
          uv publish --token ${{ secrets.PYPI_TOKEN25 }}

  publish_go:
    needs: run_tests
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
          workdir: tflint-ruleset-aws-serverless/
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
